# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and credentials
.env

# Virtual environment folder
venv/
env/

# IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS-specific files
.DS_Store

# Log files
*.log

# Pytest and coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
coverage.xml
*.coveragerc

# Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints

# Mypy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Pyright type checker
.pyright/

# Unit test / pytest cache
.pytest_cache/

# Temporary or backup files
*.bak
*.swp
*~

# Uvicorn and other server-specific files
*.pid