# Enable lombok
lombok.addLombokGeneratedAnnotation = true

# Enable all log level helper methods
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true

# Ensure getters and setters are generated
lombok.accessors.chain = true

# Make all fields final by default
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false

# Enable the @Data annotation to generate toString(), equals(), hashCode(), getters, and setters
lombok.data.flagUsage = allow 